# SPDX-License-Identifier: CC0-1.0

/build/
/patches/

*.patch
*.pyc
__pycache__/
venv/
subprojects/nlohmann_json-3.11.2/.meson-subproject-wrap-hash.txt
subprojects/nlohmann_json-3.11.2/LICENSE.MIT
subprojects/nlohmann_json-3.11.2/meson.build
subprojects/nlohmann_json-3.11.2/include/nlohmann/adl_serializer.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/byte_container_with_subtype.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/json_fwd.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/json.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/ordered_map.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/abi_macros.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/exceptions.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/hash.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/json_pointer.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/json_ref.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/macro_scope.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/macro_unscope.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/string_concat.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/string_escape.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/value_t.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/conversions/from_json.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/conversions/to_chars.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/conversions/to_json.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/input/binary_reader.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/input/input_adapters.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/input/json_sax.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/input/lexer.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/input/parser.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/input/position_t.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/iterators/internal_iterator.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/iterators/iter_impl.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/iterators/iteration_proxy.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/iterators/iterator_traits.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/iterators/json_reverse_iterator.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/iterators/primitive_iterator.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/meta/cpp_future.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/meta/detected.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/meta/identity_tag.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/meta/is_sax.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/meta/std_fs.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/meta/type_traits.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/meta/void_t.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/meta/call_std/begin.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/meta/call_std/end.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/output/binary_writer.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/output/output_adapters.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/detail/output/serializer.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/thirdparty/hedley/hedley_undef.hpp
subprojects/nlohmann_json-3.11.2/include/nlohmann/thirdparty/hedley/hedley.hpp
subprojects/nlohmann_json-3.11.2/single_include/nlohmann/json.hpp
subprojects/nlohmann_json.wrap
